*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{  
  background-color: rgb(243, 241, 241);
   
}
header{
    width: 100%;
    height: auto;
    background-color: #00a6d0;
}
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 80px 10px 80px;
}
nav li{
    display:inline-block;
    margin-right:15px ;
    font-size: large;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
nav li:hover{
    padding: 5px 10px;
    background-color: aliceblue;
    color: rgb(63, 61, 61);
    border-radius: 15px;
}
.active{
    padding: 5px 10px; 
    background-color: aliceblue;
    color: rgb(63, 61, 61);
    border-radius: 15px;
}
main{
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
    margin-bottom: 50px;
    background-color: white;
}
aside{
    width: 150px;
    height: auto;
    background-color: #c2eef9;
    
}
aside ul{
    margin: 20px auto;
    padding: 10px 10px;
    text-align: center;
}
aside li{
    list-style: none;
    font-size: larger;
    margin: 5px 0;
    padding: 10px 10px;
    

}
aside li:hover{
    padding-right:5px;
    padding-left:5px;
    background-color: #00a6d0;
    color: white;
    border-radius: 18px;
}
aside .active{
    padding-right: 5px;
    background-color: #00a6d0;
    color: white;
    border-radius: 18px;
}
label{
    cursor: pointer;
}

aside input[type="radio"] {
    display: none;
}
aside input[type="radio"]:not(:checked) ~ ul {
    display: none;
}

/* losung-section */

article{
    width: 85%;
    /* border: 2px solid gray; */
}
section{
    color: rgb(96, 95, 95);
}
article .lösung {
    display: inline-block;
    background: white none repeat scroll 0 0;
    font-weight: bold;
    font-size: 24px;
    margin-left: 40px;
    color: gray;
    margin-top: -0.8em;
    padding: 0 5px;
}
article .meine-loesung{
    margin: 20px 40px;
}
article h4 , p{
    margin: 1em 0;
}
article input[type="radio"] {
    display: none;
}
article input[type="radio"]:not(:checked) ~ div {
    display: none;
}
.html-luekentext{
    margin-top: 10px;
}
footer{
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #00a6d0;
    margin-top: 80px;
}
footer p{
    color: white;
    padding-top: 30px;
}
.footer-correction{
    margin-bottom: 500px;
}
iframe{
    width: 95%;
    height: 700px;
    margin: 0 20px;
    overflow: visible;
    border: none;
}       
        /* Medium devices (landscape tablets, 768px and up to 991px) */
        /* --------------------------------
                for tablet devices 
        ----------------------------------*/
        @media screen and (min-width: 768px ) and (max-width:991px){
            main{
                display: block;
                margin: 40px 80px;
               
            }
            nav li{
                margin-bottom: 5px;
             }
            aside{
                width: 100%;
                margin-bottom: 2rem;
                
            }
            aside li{
                display: inline-block;
                padding: 5px 10px;
            
            }
            article{
                width: 100%;
            }
            
        }

        
        /* -------------------------------
                for mobile devices
        ---------------------------------*/
        @media screen and (max-width: 768px ){

            nav{
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                padding: 1rem;
            }
            nav li{
               margin-bottom: 5px;
            }
            main{
                display: block;
                margin: 40px 40px;
               
            }
            aside{
                width: 100%;
                margin-bottom: 2rem;
                
            }
            aside ul {
                text-align: start;
                margin-left: 1rem;
            }
            aside li{
                display: inline-block;
                padding: 5px 10px;
            
            }
            article{
                width: 100%;
            }
            .meine-loesung{
                overflow: scroll;
            }
            iframe{
                margin: 0 0;
                overflow-x: scroll;
            }
        }
